/* Hero Section */
.image-container-air {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-air {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bg-air {
  height: 450px;
}

.overlay-air {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 98.5%;
  background-color: rgba(0, 0, 0, 0.6);
  /* Overlay gelap untuk kontras */
}

.overlay-air-bot {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  /* Overlay gelap untuk kontras */
}

.overlay-content-air {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.tagline-air {
  font-size: 40px;
  font-weight: bold;
}

.tagline-import {
  font-size: 48px;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 3px solid white;
  /* Garis bawah teks */
}

.import-section {
  position: relative;
  margin-top: 50px;
}

.import-image {
  width: 50%;
  max-width: 600px;
  margin: 20px auto 0;
  display: block;
  height: auto;
}

/* Details Section */
.details-section-air {
  padding: 1% 9%;
  background-color: white;
  text-align: center;
  font-size: 18px;
  padding-bottom: 15px;
}

.details-section p {
  max-width: 800px;
  line-height: 1.6;
}

.process-flow-section {
  background: url("../assets/bgImportAir.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.process-flow-image {
  height: 650px;
  z-index: 20;
  padding-bottom: 30px;
  transition: transform 0.7s ease, box-shadow 0.7s ease;
}

.process-flow-image:hover {
  transform: translateY(-10px) scale(1.25);
}

.process-flow-section h2 {
  margin-top: 35px;
}

.process-content {
  z-index: 20;
}

.tagline-import {
  z-index: 20;
}

/* Responsif */
@media (max-width: 800px) {
  .image {
    height: 300px;
  }

  .bg-air-log {
    height: 400px;
  }

  .tagline-import {
    font-size: 32px;
  }

  .import-image {
    width: 80%;
  }
}