.footer {
  background-color: white;
  padding-bottom: 20px;
}

.footer-logo {
  height: auto;
  width: 220px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 40px;
}

.footer-left {
  max-width: 30%;
  padding-left: 20px;
}

.footer-left h1 {
  color: #B8272C;
  margin-bottom: 10px;
}

.footer-left p {
  font-size: 16px;
  color: #191A23;
  line-height: 1.6;
}

.social-icons {
  margin-top: 10px;
}

.social-icon {
  margin-right: 15px;
  font-size: 24px;
  color: #191A23;
  text-decoration: none;
}

.social-icon:hover {
  color: #B8272C;
}

.footer-right {
  max-width: 50%;
  padding-right: 90px;
}

.footer-right h2 {
  color: #191A23;
  margin-bottom: 10px;
  font-size: 18px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.address {
  white-space: pre-line;
  text-align: left;
}

.contact-icon {
  font-size: 20px;
  color: #26226F;
}

.contact-item span {
  font-size: 14px;
  color: #26226F;
  text-align: left;
}

.footer-bottom {
  text-align: center;
  padding: 10px 0;
  background-color: #B8272C;
  color: white;
  font-size: 12px;
}

@media (max-width: 800px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }

  .footer-left,
  .footer-right {
    max-width: 100%;
    padding: 10px;
    text-align: center;
  }

  .footer-right h2 {
    text-align: left;
  }

  .footer-left {
    order: 1; /* Mengatur urutan elemen */
    margin-bottom: 20px;
  }

  .address {
    
  }

  .footer-right {
    order: 2;
  }

  .footer-bottom {
    margin-top: 20px;
  }
}

/* Media Query untuk layar kurang dari 480px */
@media (max-width: 480px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  .footer-left,
  .footer-right {
    max-width: 100%;
    padding: 10px;
    text-align: center;
  }

  .footer-left {
    margin-bottom: 20px;
    text-align: left;
  }

  .footer-right h2 {
    font-size: 16px;
  }

  .footer-bottom {
    margin-top: 20px;
  }
}